body {
    font-family: Arial, sans-serif;
}
.label {
    font-size: 10px;
    text-anchor: middle;
    pointer-events: none;
}

/* tooltip stuff */
.tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px; /* Increased padding */
    border-radius: 5px;
    visibility: hidden;
    z-index: 10;
    pointer-events: none; /* Ensures the tooltip does not interfere with mouse events */
    font-size: 34px; /* Increased font size */
}
/* tooltip stuff */


/* svgs */
.svg-container {
    position: absolute;
    left: 10px;
    top: 10px;
}

.svg-container-2 {
    position: absolute;
    left: 1520px;
    top: 270px;
}
.svg-container-3 {
    position: absolute;
    left: 2680px;
    top: 270px;
}
.svg-container-4 {
    position: absolute;
    left: 3840px;
    top: 270px;
}
.svg-container-5 {
    position: absolute;
    left: 5000px;
    top: 270px;
}
.svg-container-6 {
    position: absolute;
    left: 6160px;
    top: 270px;
}
.svg-container-7 {
    position: absolute;
    left: 360px;
    top: 1500px;
}
.svg-container-8 {
    position: absolute;
    left: 1520px;
    top: 1500px;
}
.svg-container-9 {
    position: absolute;
    left: 2680px;
    top: 1500px;
}
.svg-container-10 {
    position: absolute;
    left: 3840px;
    top: 1500px;
}
.svg-container-11 {
    position: absolute;
    left: 5000px;
    top: 1500px;
}
.svg-container-12 {
    position: absolute;
    left: 6160px;
    top: 1500px;
}
.svg-container-13 {
    position: absolute;
    left: 360px;
    top: 2730px;
}
.svg-container-14 {
    position: absolute;
    left: 1520px;
    top: 2730px;
}
.svg-container-15 {
    position: absolute;
    left: 2680px;
    top: 2730px;
}
.svg-container-16 {
    position: absolute;
    left: 3840px;
    top: 2730px;
}
.svg-container-17 {
    position: absolute;
    left: 5000px;
    top: 2730px;
}
.svg-container-18 {
    position: absolute;
    left: 6160px;
    top: 2730px;
}
/* svgs */

/* slider stuff */
.slider {
    /* margin: 50px; */
    position: absolute;
    left:1920px;
    top:80px;
}
.handle {
    fill: #666;
    stroke: #000;
    stroke-width: 1.25px;
}
.track, .track-inset, .track-overlay {
    stroke-linecap: round;
}
.track {
    stroke: #ddd;
    stroke-width: 8px;
}
.track-inset {
    stroke: #ddd;
    stroke-width: 6px;
}
.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
}
/* slider stuff */

/* tabbing */
#tabs-container {
    position: absolute;
    top: 50px; /* Adjust this value as needed to position from the top */
    left: 2000px; /* Position 1500px from the left of the screen */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.tab {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 300px;
    height: 70px;
    text-align: center;
    line-height: 40px;
    font-size: 30px; /* Increase font size */
}
.tab.active {
    background-color: #ddd;
    border-bottom: none;
}
/* tabbing */


/* checkboxes */
.checkbox-container {
    position: absolute;
}
label {
    font-size: 50px; /* Increase label font size */
    margin-left: 10px;
}
input[type="checkbox"] {
    width: 50px; /* Increase checkbox size */
    height: 50px;
}
/* checkboxes */